<header>
    <nav class="">
        <div class="logo">
            <h1>Logo</h1>
        </div>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./about.html">About Us</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#" class="login">Login</a></li>
        </ul>
        <div class="humberger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>
</header>